.sign-in {
    width: 30vw;
    // width: 400px;

    display: flex;
    flex-direction: column;
    margin-top: 17px;
    margin-bottom: 10px;

    .title {
      margin: 10px;
    }

    .buttons{
      display: flex;
      justify-content:space-between;
    }

    
  }