.header {
    height: 140px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  
    .logo-container {
      height: 100%;
      width: 400px;
      padding: 35px;
      position: relative;
    }
  
    .options {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      margin-right: 20px;
  
      .option {
        padding: 15px 15px;
        
        cursor: pointer;
      }

      .option a {
        padding-left: 20px;
      }
    }
}
