body {
  /* font-family: 'Open Sans Condensed';
   */
   font-family: 'Exo 2', sans-serif;
  background-color: #f0f1f1;
  text-align: center;


  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  font-size: calc(10px + 2vmin);
  color: rgb(54, 21, 21);
  /* margin: 20px; */
  /* padding: 22px; */
}
a{
  text-decoration: none;
  color: #000;
}





/* .App-header {
  background-color: #0ae5f1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}  */


